<p>Welcome {{userName}}!</p>

<div class="position-relative mb-5">
    <div class="position-absolute top-0 end-0">
        <button (click)="logout()" class="btn btn-outline-danger translate-middle">
            logout
        </button>
        <!--
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#verticalNavbar" aria-expanded="false" aria-controls="verticalNavbar">
            Toggle Navbar
        </button>
        !-->
        <nav id="verticalNavbar" class="navbar side-bar flex-column vh-100">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="friends-list">List of friends</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<router-outlet />
